@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "About Page";
}
<h1>@ViewData["Title"]</h1>

<p>This is a ToDo List App made by Ufuk Angay.</p>