@{
    ViewData["Title"] = "Contact Page";
}
<h1>@ViewData["Title"]</h1>

<address>
    <strong>Please contact me at:</strong> <a href="mailto:u.angay@gmail.com">u.angay@gmail.com</a>
</address>

<p>Use this page to detail your site's privacy policy.</p>
