@{
    ViewData["Title"] = "Home Page";
}



<body>
    <div class="container">
        
        <div class="container">
            <img src="~/Assets/MyDayLogo.png" />
       


        <br><br><br><hr>
        
        <h4>
            <p><i>Welcome to <strong>MyDay</strong> ToDo Web Application.</i></p>
            @*<p><i>You can <strong>only</strong> see this content if you're authenticated.</i></p>*@
        </h4>
            <hr />
        </div>
    </div>
</body>



@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <p><a href="Login" class="btn btn-primary btn-sm">Login</a></p>
            <p><a href="" class="btn btn-primary btn-sm">Register</a></p>
        </div>
    </div>*@